<html>
<head><title>Compare</title></head>
    <style>
        .buttonload {
            background-color: #4CAF50; /* Green background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 12px 24px; /* Some padding */
            font-size: 16px; /* Set a font-size */
        }

        /* Add a right margin to each icon */
        .fa {
            margin-left: -12px;
            margin-right: 8px;
        }
    </style>
<body>
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'Product/style/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'Product/style/css/harvest.css' %}">
<link rel="stylesheet" href="{% static 'Product/style/css/style.css' %}">


<script src="{% static 'Product/style/js/jquery.min.js' %}"></script>
<script src="{% static 'Product/style/js/bootstrap.min.js' %}"></script>


<div class="top-half">
    <div class="banner-txt">
        <h1>Compare the price <br>
        </h1>
    </div>
    <div class="calculation-container">
        {#            <input type="checkbox" name="daraz" value="daraz">Daraz<br>#}
        {#            <input type="checkbox" name="hamrobazar" value="hamrobazar">Hamro Bazar<br>#}
        {#            <input type="checkbox" name="sastodeal" value="sastodeal" > Sasto Deal<br>#}
        {#            <input type ="checkbox" name="dokoman" value ="dokoman">Dokoman<br>#}
        {#            <input type ="checkbox" name="marketthulo" value ="marketthulo">Market Thulo<br>#}
        {#            <input type ="checkbox" name="muncha" value ="muncha">Muncha<br>#}
        {#            <input type ="checkbox" name="esewapasal" value ="esewapasal">Esewapasal<br>#}

        <input type="text" placeholder="Search" id="search" name="search">
        <button onclick="openmodal()"><i class="fa fa-search"></i></button>
        {#            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="search">Search</button>#}

    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" id="modal-open">
            <span id="myBtn" class="close">&times;</span>
            <h2 class="site-select"> Select atmost 3 sites to compare from</h2>
            <div class="site-type">
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="search" id="search_keyword">
                    <label>
                        <input type="checkbox" name="daraz" value="daraz">
                        <img src="{% static 'Product/images/daraz.png' %}">
                        <p class="text-center">Daraz</p>
                    </label>
                    <label>
                        <input type="checkbox" name="sastodeal" value="sastodeal">
                        <img src="{% static 'Product/images/sd.png' %}">
                        <p class="text-center">Sasto Deal</p>

                    </label>
                    <label>
                        <input type="checkbox" name="hamrobazar" value="hamrobazar">
                        <img src="{% static 'Product/images/hamrobazar.png' %}">
                        <p class="text-center">Hamrobazar</p>

                    </label>
                    <label>
                        <input type="checkbox" name="dokoman" value="dokoman">
                        <img src="{% static 'Product/images/dokoman.png' %}">
                        <p class="text-center">Daraz</p>
                    </label>
                    <label>
                        <input type="checkbox" name="esewapasal" value="esewapasal">
                        <img src="{% static 'Product/images/esewapasal.png' %}">
                        <p class="text-center">Esewapasal</p>

                    </label>
                    <label>
                        <input type="checkbox" name="muncha" value="muncha">
                        <img src="{% static 'Product/images/muncha.png' %}">
                        <p class="text-center">Muncha</p>

                    </label>
{#                    <button><i class="fa fa-search" type="submit" value="search"></i></button>#}

        <button class="btn btn-warning " type="submit" data-aos="fade" onclick="addSpinner();" id="submitButton">
            Compare
        </button>
                </form>
            </div>
        </div>

    </div>


    <div class="blncleft">
        <img src="{% static 'Product/images/compare/pan-bth.png' %}" class="img-responsive pendulum">
    </div>
    <div class="blncbase">
        <img src="{% static 'Product/images/compare/base.png' %}" class="img-responsive">
    </div>
    <!--    <div class="blncright">-->
    <!--        <img src="images/compare/pan-right.png" class="img-responsive">-->
    <!--    </div>-->
</div>

<div class="container">
    <div class="row benefits">
        <h3 class="text-center">What is compare.io?</h3>
        <div style="transform:translate(-50%,0);height:2px; left:50%; border-bottom:2px solid #019cff; width:250px;position:relative;top:-20px"></div>
        <div class="col-md-4">
            <button disabled>1</button>
            <h4>About Us</h4>
            <p>

            </p>
        </div>
        <div class="col-md-4">
            <button disabled>2</button>
            <h4>Benefits</h4>
            <p>

            </p>

        </div>
        <div class="col-md-4">
            <button disabled>3</button>
            <h4>Why?</h4>
            <p>

            </p>
        </div>

    </div>
</div>

<script>
    function openmodal() {
        console.log($('#search').val());
        $('#search_keyword').val($('#search').val());
        console.log($('#search_keyword').val());
        modal.style.display = "block";

    }

    $(document).ready(function () {
        $('.blncleft').delay(500).animate({top: '20%'});
        $('.blncright').delay(500).animate({top: '21%'});

    });
    setTimeout(function () {
        $('.calculation-container').addClass('fade-in');
    }, 1200);
    var count = 1;

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

     function addSpinner() {

        $("#submitButton").html("<i class='fa fa-refresh fa-spin'></i>Fetching Result\n");
    }

</script>
</body>
</html>